h3.p{
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1rem;
    text-align: center;
    font-family: arial;
}

/*difuminar el fondo del login con un dill que se haga a la izquierda para que se difunmine*/